@model ValidationAttributes.Models.Student;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

            @* <div asp-validation-summary="All" style="color:red"></div> *@
            @* above line is used for list all error in above the form...  *@

            <form asp-controller="Home" asp-action="Index" method="post">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Enter Your Name" />
                   <span asp-validation-for="Name" style="color:red;"></span>  
				<br />
                <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                <span asp-validation-for="Email" style="color:red;"></span>
                <br />
                <input asp-for="Age" class="form-control" placeholder="Enter Your Age" />
                <span asp-validation-for="Age" style="color:red;"></span>
                <br />
                <input asp-for="Password" class="form-control" placeholder="Enter Your Password" />
                <span asp-validation-for="Password" style="color:red;"></span>  
                <br />
				<label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Your ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" style="color:red;"></span>
                <br />
                <input asp-for="WebURL" class="form-control" placeholder="Enter Your Web URL" />
                <span asp-validation-for="WebURL" style="color:red;"></span>
                <br />
                <input asp-for="Phone" class="form-control" placeholder="Enter Your phone number" />
                <span asp-validation-for="Phone" style="color:red;"></span>
                <br />

                <input type="submit" value="submit" class="btn btn-outline-primary" />
            </form>

        </div>
    </div>
</div>
